body{
    width: 1440px;
    font-family: Poppins,sans-serif;
    font-size: 18px;
    color: #222;
    font-weight: 400;
    line-height: 30px;
    background: #FAF4F2;
}
main{
    padding: 100px 150px 125px;
}
section{
    width: 1140px;
}
.preview{
    display: flex;
    justify-content: space-between;
    height: 465px;
    margin-bottom: 125px;
}
.preview h2{
    font-size: 40px;
    line-height: 62px;
}
.preview p{
    margin:7px 0 54px;
}
.info1{
    display: flex;
    flex-direction: column;
    width: 509px;
}
.reza{
    width:406px ;
}
.reza>img{
    width: 406px;
}
.preview div nav ul{
    width: 240px;
    height: 48px;
    display: flex;
    gap:16px;
}
.buttons input[type="submit"],
input[type="file"]{
    border: none;
    font-size: 18px;
    width: 151px;
    height: 55px;
    border-radius: 10px;
    background: #FF2950;
    color: white;
    font-weight: 500;
}
.file-upload{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(34, 34, 34, 0.50);
    width: 151px;
    height: 55px;
    border-radius: 10px;
    border: 2px solid #FF9B70;
    font-size: 18px;
    font-weight: 500;
}
.file-upload input[type="file"]{
    display: none;
}
.buttons{
    display: flex;
    align-items: center;
    width:400px;
    padding-top: 25px;
    gap:30px;
}
.results{
    width: 1140px;
    height: 519px;
    border-radius: 35px;
    background: #FF7315;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap:32px;
}
.results p{
    margin:19px 0;
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px; /* 150% */
}

.results h1{
    color: white;
    font-size: 72px;
    font-weight: 600;
    line-height: 62px; /* 86.111% */
}
.results h2{
    color: white;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px; /* 129.167% */
}
.results>img{
    width: 430px;
    height: 329px;
}
.results>div{
    width: 570px;
}
.advantages{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reasons h2{
    margin:120px 0 100px;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px; /* 129.167% */
}
.advantages>div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 240px;
}
.advantages>div span{
    margin:50px 0 12px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.advantages>div p{
    color: rgba(34, 34, 34, 0.50);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background: rgba(34, 34, 34, 0.10);
}
.portfolio h2{
    margin:125px 0 64px;
    font-size: 48px;
    font-weight: 600;
    line-height: 123.6%; /* 59.328px */
    text-transform: capitalize;
}
.grid{
    height: 630px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,334px);
    grid-template-rows: repeat(2,324px);
}
.stuff{
    margin: 125px -150px 0;
    box-sizing: border-box;
    padding-top: 48px;
    width:1440px;
    height: 643px;
    background: #FF7315;
}
.stuff h2{
    margin:0 auto 111px;
    color: white;
    text-align: center;
    font-size: 48px;

    font-weight: 600;
    line-height: 60px; /* 125% */
    width: 609px;

}
.container{
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:82px;
}
.container div{
    width: 529px;
    height: 179px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.container div p{
    width: 420px;
    font-size: 24px;
    font-weight: 400;
}
.priceSec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.priceSec h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 123.6%; /* 59.328px */
    text-transform: capitalize;
    text-align: center;
    margin:125px 0 64px;
}
.types{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:67px;
}
.plan{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 335px;
    height: 500px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 20px 40px 0 rgba(255, 115, 21, 0.10);
}
.header{
    color: white;
    font-size: 24px;
    font-weight: 600;
    line-height: 123.6%;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 66px;
    border-radius: 15px 15px 0 0;
    background: #FF9B70;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}
.price{
    display: flex;
    align-items: center;
    gap:12px;
    margin:36px 0 29px;
}
.price h3{
    color:#2B2B2B;
    font-size: 32px;
    font-weight: 700;
    line-height: 123.6%;
    text-transform: capitalize;
}
.price span{
    opacity: 0.5;
    color:#2B2B2B;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}
.plan ul li{
    position: relative;
    padding-left: 25px; /* Отступ для маркера */
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    text-transform: capitalize;
    margin-bottom: 17px;
}
.plan>ul>li:before {
    content: "";
    position: absolute;
    left:-15px;
    top:0;
    width:25px;
    height:25px;
    background-image: url("resources/Check.png"); /* Путь к вашему изображению */
    background-size: contain;
    background-repeat: no-repeat;
}
.silver ul li:nth-child(n+3):before{
    background-image: url("resources/Close.png");
}
.golden ul li:nth-child(n+5):before{
    background-image: url("resources/Close.png");
}

.contact {
    margin:100px 0 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    height: 224px;
    border-radius: 25px;
    background: #FF7315;
    padding: 0 100px;
}
.contact h2{
    width: 343px;
    color: white;
    font-size: 36px;
    font-weight: 600;
    line-height: 62px; /* 172.222% */
}
.contact a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    width: 259px;
    height: 70px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.01);
}
.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog>h1{
    margin-bottom:48px;
}
.items>div{
    padding: 15px 15px 57px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 270px;
    height: 364px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.07);
}
.items>div h2{
    margin:24px 0 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 123%;
    text-transform: capitalize;
}
.items>div p{
    width: 240px;
    margin:  0 auto;
    color: rgba(34, 34, 34, 0.50);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
}
footer{
    background: #F1F1F1;
    width: 1440px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}