body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-top:4px solid seagreen ;
    animation: preload 0.5s linear infinite ;
}
@keyframes preload {
    from {
        transform: rotate(360deg);
    }
}