*{
    text-decoration: none;
    font-family: sans-serif;
}
a{
    color:midnightblue;
}
.top>form>div>p{
    color: gray;
    font-weight: bold;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
div{
    margin:10px;
}
form img{
    width: 20px;
    height: 20px;
}
.registration{
    width: 400px;
    height: 500px;
}
.top{
    border:2px solid lightgray;
}
.top>div:first-of-type{
    margin-top:50px;
}
.top>form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
input{
    width: 300px;
    height: 35px;
    margin:4px;
    padding:0 3%;
    text-overflow:ellipsis;
}
.top>form>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input[type="submit"]{
    border-radius: 10px;
    border:none;
    background-color: #5ba8fa;
    color:white;
    font-size: 18px;
    font-weight: bold;
}
.top>form>div a{
    font-size: 12px;
}
.facebook{
    display: flex;
    justify-content: center;
}
.facebook>a:last-of-type{
    font-size:16px;
    font-weight: bold ;
}

.foot{
    border:2px solid lightgray;
}
.foot>a{
    color: #5ba8fa;
}